@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
  --font-color: #2A6B43;
  --button-color: #5DF096;
}

html{
  font-family: 'Montserrat', sans-serif;
  background-color: #FFF;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40vh;
}

a{
  color: var(--font-color);
  text-decoration: none;
  font-weight: 500;
}

a:visited{
  color: var(--font-color);
}

li{
  list-style: none;
}

header{
  display: flex;
  justify-content: space-between;
}
#nav-bar{
  position: fixed;
  top: 0;
  display: flex;
  background: light gray;
}

#nav-bar::before{
  content: "";
  width: 70vw;
}

#logo{
  justify-self: flex-start;
  margin-right: auto;
}
#nav-links{
  margin-left:auto;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-around;
}

#header-img{
  margin-top: 0.5em;
  max-width: 200px;
  max-height: 42px;
  width: auto;
  height: auto;
}
li{
  display: block;
  margin: 0 0 4em 4em;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input[type="email"]{
  border-radius: 20px;
  width: 15vw;
  text-align: center;
}

input[type="submit"]{
  background-color: var(--button-color) ;
  border-radius: 20px;
  margin-top: 1em;
  color: var(--font-color);
}

iframe{
  margin-top: 4em;
  margin-bottom: 2em;
  display: block;
  width: 60vw;
  height: 80vh;
  justify-self: center;
}

#products{
  display: grid;
  grid-template-columns: 33.3vw 33.3vw 33.3vw;
  text-align: center;
}

figure img{
  width: 100%;
}

figcaption{
  font-weight: 600;
}

#features{
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
}

h1{
  margin-top: 3em;
  margin-bottom: 5em;
}

#cold {
  color: #4087c2;
}

#hot {
  color: #b83f07;
}

@media (max-width: 800px){
  #nav-bar{
    display: none;
  }
  
  iframe{
    width: 60vwmin;
    height: 80vhmin;
  }
  
  
}